@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    background-color: antiquewhite;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

nav {
    text-align: center;
}

.contenitore {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.contenitore_campo {
    width: 40%;
    margin: 30px;
    padding: 20px;
    border: solid 3px black;
    background-color: #94a185;
}

.contenitore_campo img {
    width: 100%;
    border: solid 2px black;
}

hr {
    border: solid 1px black;
}

h1 {
    text-align: center;
}

.contenitore_form_input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenitore_form_input .hr1 {
    width: 90%;
}

.contenitore_form_input .hr2 {
    width: 50%;
    border-color: rgba(68, 68, 68, 0.69);
}

ul {
    padding: 0;
    margin: 0;
}

.error {
    color: red;
}

nav {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: antiquewhite;
}

.NavContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navlinks {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navimg {
    display: flex;
    justify-content: start;
    align-items: center;
}

.navimg img {
    height: 2rem;
    margin: 0 1rem;
}

.navimg h2 {
    margin: 0;
}

.nav_link {
    text-decoration: none;
    font-weight: bold;
    margin: 0 1rem;
}

.active {
    color: pink;
}

.prenotazioni_profilo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.prenotazioni_profilo_con hr {
    width: 60%;
}

.prenotazioni_profilo_con a {
    text-decoration: none;
}

.profilo_upper_con {
    text-align: center;
}